<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clubmanagement">

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name = ".Loading.Splash"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = ".System.Fragment.FragmentStart"     />
        <activity android:name=".Login.Login_View.LoginActivity"/>
        <activity android:name=".Join.JoinPopUp" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".ClubPage.Home.Main_HomePage"/>
        <activity android:name=".ClubPage.MemberList.Main_MemberList"/>
        <activity android:name=".ClubPage.ApplyList.Main_ApplyList"/>
        <activity android:name=".ClubPage.Restaurant.Main_Restaurant"/>
        <activity android:name=".ClubPage.Item.Main_ItemStart"/>
        <activity android:name=".ClubPage.Item.ItemPopUp" android:theme="@android:style/Theme.Dialog"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
</manifest>
